<div class="input-group">
    <label>Nome do Personagem</label>
    <input type="text" [(ngModel)]="nameSearch" (blur)="getHeroes(0,nameSearch)" />
</div>

<div class="block-heroes">
    <table>
        <thead>
            <tr>
                <th colspan="2">Personagem</th>
                <th class="series">Séries</th>
                <th class="events">Eventos</th>
            </tr>
        </thead>
        <tbody>
            <ng-template ngFor let-hero [ngForOf]="heroes" let-index="index">
                <tr (click)="details(hero.id)">
                    <td>
                        <img src="{{hero.thumbnail.path}}/portrait_medium.jpg" class="circular-image">
                    </td>
                    <td >{{hero.name}}</td>
                    <td class="series">
                        <span *ngFor="let item of hero.series.items | slice:0:3;">{{item.name}}<br/></span>
                    </td>
                    <td class="events">
                        <span *ngFor="let item of hero.events.items | slice:0:3;">{{item.name}}<br/></span>
                    </td>
                </tr>
            </ng-template>
        </tbody>
    </table>
</div>

<div class="pagination" *ngIf="paginate.pages.length > 0">
    
    <ul>
        <li>
            <button type="button" class="btn-arrow" (click)="getHeroes(paginate.currentPage -1)" [disabled]="paginate.currentPage == 0"><i class="arrow left"></i></button>
        </li>
        <li *ngFor="let i of paginate.pages; index as index">
            <button type="button" class="btn" (click)="getHeroes(i-1)" [ngClass]="{'btn-active': i === paginate.currentPage+1}">{{i}}</button>
        </li>
        <li>
            <button type="button" class="btn-arrow" (click)="getHeroes(paginate.currentPage +1)" [disabled]="paginate.currentPage == paginate.totalPages"><i class="arrow right"></i></button>
        </li>
    </ul>
  
</div>



